:root
{
     --lightblue: RGB(173,216,230);
     --darkpurple: RGB(48,25,52);
     --gray: RGB(211,211,211);
     color: var(--lightblue);
     background-color:var(--gray);
     text-align: center;
}

.title
{
     color: var(--darkpurple);
}

h1
{
     font-size: 40pt;
     text-decoration: underline;
}

img
{
     margin: auto;
     display: block;
}

table
{
     margin: auto;
}
