:root
{
     --uncblue: RGB(1,45,91);
     --darkpurple: RGB(48,25,52);
     --uncgray: RGB(235,235,235);
     color: var(--uncblue);
     background-color:var(--uncgray);
     text-align: center;
}

.title
{
     color: var(--darkpurple);
}

h1
{
     font-size: 48pt;
     text-decoration: underline;
}

img
{
     margin: auto;
     display: block;
}

table
{
     margin: auto;
}
