:root
{
     --lightblue: RGB(173,216,230);
     --lightpurple: RGB(218,177,218);
     --darkgray: RGB(169,169,169);
     color: var(--lightblue);
     background-color:var(--darkgray);
     text-align: center;
}

.title
{
     color: var(--lightpurple);
}

h1
{
     font-size: 40pt;
     text-decoration: underline;
}

img
{
     margin: auto;
     display: block;
}

table
{
     margin: auto;
}
